PORT=3000
CORS_ORIGIN=https://hyphen-os.hyphen.it.com
DATABASE_URL=postgresql://postgres.jbtwiesqebvtdrlvfkbs:<PASSWORD>@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:<PASSWORD>@db.jbtwiesqebvtdrlvfkbs.supabase.co:5432/postgres
PENALTY_POLICY_START_AT=2026-02-18T06:00:00+09:00
